<!DOCTYPE html>
<html>
	<head>
	<title>Tic-Tac-Toe Game</title>
	</head>
	
	<body> 
	<b><center><h2 style="font-family:comic; 
	color:black; 
	text-shadow: 2px 2px yellow;
	font-size: 250%;
	text-decoration: line-through
	">TIC TAC TOE</h2></center></b>
	
		<br>
		<h3 style="font-family:comic,sans-serif">Hi! Would you like to play a Human, Sequential AI, or Simple AI game?</h3>
		<form action="/input" method="post">
		<h4 style="font-family:Courier"> Player One </h4>
			<select name="player_one">
  			<option value="Human">Human</option>
  			<option value="Sequential AI">Sequential AI</option>
  			<option value="Simple AI">Simple AI</option>
  			</select>
			<br>
		<h4 style="font-family:Courier"> Player two </h4>	
			<select name="player_two">
  			<option value="Human">Human</option>
  			<option value="Sequential AI">Sequential AI</option>
  			<option value="Simple AI">Simple AI</option>
  			</select>
  			<br>
			<button type="submit" value="Start Game!"><span style="cursor:pointer">Submit</button></span>
		</form>
	</body>
</html>