<!DOCTYPE html>
<html>
	<head>
	<title>Tic-Tac-toe Game</title>
	</head>
	<body>
		<h2>Hello, Would you like to play a Human, Sequential AI, or Simple AI?</h2>
		<form action="/input" method="post">
		<h2> Player One </h2>
			<select name="player_one">
  			<option value="Human">Human</option>
  			<option value="Sequential AI">Sequential AI</option>
  			<option value="Simple AI">Simple AI</option>
  			</select>
			<br>
		<h2> Player two </h2>	
			<select name="player_two">
  			<option value="Human">Human</option>
  			<option value="Sequential AI">Sequential AI</option>
  			<option value="Simple AI">Simple AI</option>
  			</select>
			<input type="submit">
		</form>
	</body>
</html>