Player one is <%=p1%> and Player two is <%=p2%>. 
Player one choose a marker.
<form action="/player_marker" method="post">
	<select name="p1_marker">
  			<option value="X">X</option>
  			<option value="O">O</option>
   			</select>
			<br>
	<input type="submit">
</form>	
