<!DOCTYPE html>
<html>
	<head>
	<title>Tic-Tac-Toe Game</title>
	</head>
</html>


Player one is <%=player_one%> and Player two is <%=player_two%>. 
<br>
Player one choose a marker.
<form action="/player_one_marker" method="post">
	<select name="p1_marker">
  			<option value="X">X</option>
  			<option value="O">O</option>
   			</select>
			<br>
	<input type="submit">
</form>	
